.red {
  background-color: #CC0000
}

.green {
  background-color: #4E9A06
}

.yellow {
  background-color: #C4A000
}

.blue {
  background-color: #3465A4
}

.purple {
  background-color: #75507B
}

.cyan {
  background-color: #06989A
}

.font-red {
  color: #CC0000
}

.font-green {
  color: #4E9A06
}

.font-yellow {
  color: #C4A000
}

.font-blue {
  color: #3465A4
}

.font-purple {
  color: #75507B
}

.font-cyan {
  color: #06989A
}
