<html>
  <head></head>
  <body>
    <form>
      <input type='text' name='message' />
      <input type="number" name="shift" min="0" max="26">
      <input type='submit' value='Convert!' />
    </form>
    <p>
      <%= message %> with a shift of <%= shift %> is <%= convert %>
    </p>
  </body>
</html>