<h1>All Articles</h1>

<ul id="articles"
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>  
  </li>
  <% end %>
</ul>

<%= link_to "Create a New Article", new_article_path, class: "new_article" %>