<!DOCTYPE HTML>
<html lang="en">
<head>
<!-- Styles -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="app.css">
<title>Mastermind</title>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Mastermind</h1>
      <p class="lead">
        You are the <strong>Code Breaker</strong>... can you handle the challenge?
      </p>
      <hr class="my-4">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <p>
            Choose a combination of four colors.
          </p>
          <% if game_over %>
            <div class=<%= victory ? "'alert alert-success'" : "'alert alert-danger'" %> role="alert">
              <p class="text-center display-4">
                <%= end_message %>
              </p>
            </div>
            <a class="btn btn-primary btn-lg btn-block" href=".">Play Again!</a>
          <% else %>
            <form>
              <div class="row">
                <% (1..4).each do |i| %>
                  <div class="col">
                    <label class="text-muted" for=<%= i %>> <%= i %> </label>
                    <select multiple class="form-control" size="6" name=<%= i %> required>
                      <option class="red"     value="1"></option>
                      <option class="green"   value="2"></option>
                      <option class="yellow"  value="3"></option>
                      <option class="blue"    value="4"></option>
                      <option class="purple"  value="5"></option>
                      <option class="cyan"    value="6"></option>
                    </select>
                  </div>
                <% end %>
              </div>
              <br />
              <button type="submit" class="btn btn-primary btn-lg btn-block">Code Break!</button>
            </form>
          <% end %>
          <br />
          <p>
            You have <%= turn %> turn(s) left!
          </p>
          <br />
          <p>
            <button type="button" class="btn btn-outline-danger btn-lg btn-block" data-toggle="collapse" data-target="#cheat" aria-expanded="false" aria-controls="cheat">
              Cheat!
            </button>
          </p>
          <div class="collapse" id="cheat">
            <div class="card card-body">
              <p class="h1 text-center">
                <% answer.each do |num| %>
                  <font color="<%= to_color(num) %>">
                    ⬤
                  </font>
                <% end %>
              </p>
            </div>
          </div>
          <br />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <table class="table table-borderless table text-center">
            <caption>History</caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">History</th> 
                <th scope="col">Pegs</th>
              </tr>
            </thead>
            <tbody>
              <% history.each.with_index do |code, i| %>
                <% if i == 0 %>
                  <% next %>
                <% end %>
                <tr>
                    <th scope="row"><%= i %></th>
                    <td class="h3">
                      <% code.each do |num| %>
                        <font class="font-<%= to_color(num) %>">
                          ⬤
                        </font>
                      <% end %>
                    </td>
                    <td class="h3">
                      <% peg_history[i].each do |pegs| %>
                        <%= pegs %>
                      <% end %>
                    </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>